@font-face {
    font-family: nakama;
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url("./asset/font/JosefinSlab-Thin.ttf") format("truetype"), local("Times New Roman"), local(serif);
}
@font-face {
    font-family: nakama;
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url("./asset/font/JosefinSlab-Light.ttf") format("truetype"), local("Times New Roman"), local(serif);
}
@font-face {
    font-family: nakama;
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("asset/font/JosefinSlab-Bold.ttf") format("truetype"), local("Times New Roman"), local(serif);
}