header:hover { /*pointe avec la souris*/
    text-shadow: 1px 1px green, 2px 2px rgb(90, 238, 90), 3px 3px rgb(28, 112, 28);
}
body {
    font-size: 12px;
    color: hsl(0, 0%, 16%);
    font-weight: 300;
}
main {
    padding: 18px;
    background-image: url("https://cdn.icon-icons.com/icons2/900/PNG/512/superhero_hulk_hero_comic_copy_icon-icons.com_69228.png");
    background-repeat: repeat;
    background-size: 64px 64px;
}
h1 {
    font-size: 1.65rem; /*calc ( 165% * 12px );*/
    font-weight: 700;
    letter-spacing: 1.5rem;
    line-height: 1.8rem;
    color: white;
    opacity: 0.5;
}
h2 {
    font-size: 1.45rem; /*calc ( 145% * 12px )  -  rem=prend 100% de la taille de la page   em=prend 100% de la taille du parent*/
    font-weight: 700;
}
h3 {
    font-size: 1.45rem;
    font-style: italic;
    font-weight: 300;
}
a:hover {
    font-weight: 700;
}